.button{
    padding: 0.7rem;
    border: none;
    background-color:rgb(208 39 39) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 0.7rem;
}

.button img{
    width: 20px;
}

.button span{
    margin-left: 0.5rem;
}