@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Bona+Nova:wght@400;700&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  background-color: #F8FFF0;
  padding: 0;
  margin: 0;
  font-family:Bona Nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root{
  --accent-color: #571F31;
  --highlight-color:#bb3e65;
}

/* overide styles for slider */
.image-gallery-left-nav .image-gallery-svg{
  width: 20px !important;
}
.image-gallery-left-nav .image-gallery-svg:hover{
  width: 20px !important;
}

.image-gallery-right-nav .image-gallery-svg {
  width: 20px !important;
}